:root {
  --prymary-color: #3a1212;
  --secondary-color: #983333;
  --surface-color: #e5e5e5;
  --text-color: #171414;
  --inverse-color: #e1d5d5;
}

.transition-fade{
  opacity: 1;
  transition: 500ms;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s ease-in-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--text-color);
}

section {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--surface-color);
}

/* navbar */
header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  justify-content: space-between;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

header nav {
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(10px);
}

header nav .nav {
  position: relative;
  width: max-content;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

header nav .nav::after {
  content: "";
  background-color: var(--secondary-color);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  transition: 0.4s;
}

.dropdown.active > .nav::after header nav .nav:hover::after {
  width: 100%;
}

header nav .nav:hover::after {
  width: 100%;
}

.dropdown-content div.first {
  border-bottom: #3a1212 solid 1px;
}

.dropdown-content div {
  width: 100%;
  padding: 10px 20px;
}

.dropdown-content div:hover {
  background-color: var(--prymary-color);
}

.dropdown-content div:hover a {
  color: var(--inverse-color);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  overflow: hidden;
  position: absolute;
  left: 10;
  top: calc(100% + 1rem);
  background-color: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px) translateX(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.dropdown.active > .nav + .dropdown-content {
  opacity: 1;
  transform: translateY(0) translateX(0);
  pointer-events: auto;
}

.button {
  padding: 10px 40px;
  backdrop-filter: blur(40px);
  border: var(--secondary-color) 2px solid;
  position: relative;
}

.button > .nav {
  color: var(--secondary-color);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.4s;
  z-index: -1;
}

.button:hover::after {
  background-color: var(--secondary-color);
  width: 100%;
}

.button:hover .nav {
  color: var(--inverse-color);
}

/* home */
.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-wrapper > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* photo */

.home-wrapper .content .photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(/asset/image/MyLogo.webp);
  background-size: cover;
  background-position: center;
  background-color: var(--surface-color);
}

.home-wrapper .content .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* title and subtitle */
.home-wrapper .content .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.home-wrapper .content .text .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  width: fit-content;
  color: var(--prymary-color);
}

.home-wrapper .content .text .subtitle {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: fit-content;
  color: var(--secondary-color);
}

/* social media */

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

.social-media div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--prymary-color);
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--prymary-color);
}

.social-media div::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  bottom: 0;
  transition: 0.4s;
  z-index: -1;
  border-radius: 50%;
}

.instagram::after {
  background-image: linear-gradient(
    to top right,
    #8a3ab9,
    #bc2a8d,
    #fccc63,
    #fbad50
  );
}

.linkedin::after {
  background-image: linear-gradient(to top right, #0077b5, #2485b9, #0077b5);
}

.github::after {
  background-image: linear-gradient(to top right, #24292e, #24292e, #24292e);
}

.social-media div:hover::after {
  width: 100%;
  height: 100%;
}

.social-media div i {
  color: var(--prymary-color);
}

.social-media div i:hover {
  color: var(--inverse-color);
}

/* project */

/* mobile */
#mobile > .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

#mobile > .wrapper {
  gap: 4rem;
}

#mobile > .wrapper > .container{
  width: 600px;
  height: 400px;
  background-color: #0077b5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow:10px 10px 10px #24292e49;
}

#mobile > .wrapper > .container {
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#mobile > .wrapper > .container:nth-child(1) {
  background-image: url(/asset/image/1.webp);
}

#mobile > .wrapper > .container:nth-child(2) {
  background-image: url(/asset/image/2.webp);
}

#mobile > .wrapper > .container:nth-child(3) {
  background-image: url(/asset/image/3.webp);
}

#mobile > .wrapper > .container:nth-child(4) {
  background-image: url(/asset/image/4.webp);
}

#mobile > .wrapper > .container > .contain {
  position: relative;
  bottom: -400px;
  background: #a7a7a7;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#mobile > .wrapper > .container > .contain > p{
  text-align: center;
  font-size: 1rem;
  width: 50%;
  font-weight: 100;
  color: #2c2525;
}

#mobile > .wrapper > .container:hover .contain {
  position: relative;
  bottom: 100px;
}

/* website */
#website > .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

#website > .wrapper {
  gap: 4rem;
}

#website > .wrapper > .container{
  width: 600px;
  height: 400px;
  background-color: #0077b5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow:10px 10px 10px #24292e49;
}

#website > .wrapper > .container {
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#website > .wrapper > .container:nth-child(1) {
  background-image: url(/asset/image/5.webp);
}

#website > .wrapper > .container:nth-child(2) {
  background-image: url(/asset/image/6.webp);
}

#website > .wrapper > .container:nth-child(3) {
  background-image: url(/asset/image/7.webp);
}

#website > .wrapper > .container:nth-child(4) {
  background-image: url(/asset/image/4.webp);
}

#website > .wrapper > .container > .contain {
  position: relative;
  bottom: -400px;
  background: #a7a7a750;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#website > .wrapper > .container > .contain > p{
  text-align: center;
}

#website > .wrapper > .container:hover .contain {
  position: relative;
  bottom: 0;
}

/* contanct */

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  background: #ffffffad;
  backdrop-filter: blur(50px);
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}

.feedback-container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 4px;
  resize: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #555;
}








